<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"verticalAlignment":null,"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":{"left":"var:preset|spacing|40"}}},"className":"bento-responsive-main"} -->
	<div class="wp-block-columns alignwide bento-responsive-main" style="padding-top:0;padding-bottom:0"><!-- wp:column {"width":"","style":{"spacing":{"padding":{"top":"0"}}},"className":"first-col"} -->
	<div class="wp-block-column first-col" style="padding-top:0"><!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|10"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40)"><!-- wp:post-title {"level":1} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"verticalAlignment":"stretch","width":"820px","style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}}}} -->
	<div class="wp-block-column is-vertically-aligned-stretch" style="padding-top:var(--wp--preset--spacing--40);flex-basis:820px"><!-- wp:group {"style":{"dimensions":{"minHeight":"92vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"}} -->
	<div class="wp-block-group" style="min-height:92vh"><!-- wp:post-content /-->
	
	<!-- wp:template-part {"slug":"footer","theme":"bentome","area":"footer"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group -->